.Header{
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(235, 235, 235, 0.705);
  width: 100%;
  .Header__wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    a{
      background: none;
      border: none;
      img{
        width: 20px;
        height: 20px;
      }
    }
  }
}